<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang thông tin chi tiết</title>
</head>
<body>
    <p>Tiêu đề: <%= book.title %></p>
    <p>Tác giả: <%= book.author %></p>
    <p>Giá: <%= book.price %></p>
    <p>Image: <img src="<%= book.image%>" alt=""></p>
</body>
</html>